body, html {
  font: 14px/1.6 "Helvetica Neue", Helvetica, "proxima-nova", Arial, sans-serif;
  color: #2C2C2C;
  font-weight: 200;
}

body {
  position: relative;
  height: auto;
}

h1 {
  text-align: right;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  border-bottom: 1px solid silver;
}

a {
  color: #2A5E8C;
  text-decoration: none;
}

a:hover {
  color: #7595BF;
  text-decoration: underline;
}

/**
 * SIDE NAVBAR
 */

.hyrisesidebar {
  box-shadow: 5px 0 20px -15px;
}

.hyrisesidebar .logo {
  background: url('skyline.png') no-repeat scroll 0 0 transparent;
  width: 100%;
  background-size: contain;
  color: black;
  height: 75px;
}

/**
 * PAGE CONTAINER
 */

.wrapper {
  background: #F2F2F2;
}

.inner-wrapper > .container {
  background: white;
  padding-top: 20px;
  box-shadow: 0px 0 15px -5px;
  position: relative;
}

/**
 * NAVBAR
 */

.navbar-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-wrapper .container {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  box-shadow: none;
}

/**
 * BACK TO TOP BUTTON
 */

#backToTop {
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  cursor: pointer;
}
#backToTop p {
  margin: 0;
  margin-top: -5px;
}
#backToTop span {
  font-size: 20px;
}
  
#backToTop, #backToTop.affix {
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 15px;
  opacity: 1;
}
#backToTop.affix-bottom {
  position: absolute;
  bottom: 70px;
}
#backToTop.affix-top {
  opacity: 0;
}