body, html {
      /*font-family: Verdana, 'Lucida Sans Unicode', sans-serif;*/
      height: 100%;
      text-align: left;
}

h1 {
      text-align: center;
}
.onload h1 {
    /*  display: none;*/
}

li {
      line-height: 2;
}

img {
      margin: auto;
      vertical-align: middle;
} 

a.headerlink {
    visibility: hidden;
}

table.table {
      width: auto;
      border: 1px solid #dddddd;
}
table.table .td {
      border: 1px solid #dddddd;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

.wrapper {
      min-height: 100%;
}

.inner-wrapper {
      overflow: auto;
}

.main {
      padding-top: 95px;
}


.nav {
      margin-bottom: 30px;
}

.nav-pills > .active > a {
      background-color: #137592;
}

.row-fluid {
      margin-bottom:40px;
}

.row-fluid > p {
      padding-left: 12px;
}

.hyrisesidebar {
      padding: 25px 15px;
      padding-top: 0px;
}

.hyrisesidebar > a > img {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
}

.hyrisesidebar > p {
      display: block;
      color: #6c6767;
      text-align: center;
      font-size: smaller;
      line-height: 130%;
}

.without {
      margin-bottom: 0px;
}

.fullwidth {
      background-color: #f2f7fa !important;
      margin: 70px 0px;
      border-top: 1px solid #d9dee1;
      border-bottom: 1px solid #d9dee1;
}

.overview > h4 {
      color: #006699;
      font-size: 14px;
}

.section {
      margin-bottom: 50px;
}
.index-container .section {
      overflow: hidden;
}

.feature {
      text-align: justify;
      padding: 10px;
}

.footer {
      position: relative;
      height: 50px;
      clear:both;
      text-align: center;
      padding: 30px 0;
      border-top: 1px solid #C7CFD9;
      background-color: #010626; /*#f5f5f5;*/
      color: #F2F2F2;
}

.hyrisesidebar > h4{
      line-height: 25px;
      color: #6c6767;   
}

.logo {
      text-align: center;
}

.image {
      position: relative;
}
.image img {
      width: 100%;
}

.people .row-fluid {
      overflow: hidden;
}

/* normalize bootstrap lists */
ul ul.list {
      margin-bottom: -6px;
}
.list-group-item {
      border: none;
      margin-bottom: 0px;
}

/* prettyprint and line numbers */
pre.prettyprint {
      padding: 9.5px !important;
      border: 1px solid #cccccc !important;
}
td.linenos {
      position: absolute;
}
td.linenos pre {
      border: none;
      background: none;
      border-radius: 0;
      border-right: 1px solid silver;
}
td.linenos + .code pre span {
      white-space: nowrap;
      display: inline-block;
}
td.linenos + .code pre {
      padding-left: 40px;
}

/* hide indoc tocs */
.main .notTop:not(.simple) {
      display: none;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid silver;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid silver;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}